<h1>DAB List</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Dabs</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="white-space: nowrap">
                <a  class="btn btn-sm btn-primary mr-1">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span >Delete</span>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>